USE [master]
GO
/****** Object:  Database [PIA_IT]    Script Date: 24/07/2025 12:51:48 pm ******/
CREATE DATABASE [PIA_IT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIA_IT', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\PIA_IT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PIA_IT_log', FILENAME = N'D:\sql\MSSQL16.MSSQLSERVER\MSSQL\DATA\PIA_IT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIA_IT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIA_IT]
GO
/****** Object:  Table [dbo].[Account_Lockouts]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account_Lockouts](
	[lockout_id] [int] IDENTITY(1,1) NOT NULL,
	[agent_uid] [varchar](200) NOT NULL,
	[lockout_type] [varchar](20) NULL,
	[reason] [varchar](200) NULL,
	[locked_at] [datetime] NULL,
	[unlocks_at] [datetime] NULL,
	[ip_address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[lockout_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[pno] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[create_dt] [datetime] NULL,
	[close_dt] [datetime] NULL,
	[status] [varchar](1) NULL,
	[Close_Remarks] [varchar](200) NULL,
	[isAdministrator] [varchar](1) NULL,
	[LastLogin_DateTime] [datetime] NULL,
	[LastLogin_IP] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[mobile] [varchar](50) NULL,
	[workarea] [varchar](500) NULL,
	[gid] [int] NULL,
	[Privilege] [varchar](100) NULL,
	[roleid] [int] NULL,
	[UserType] [varchar](1) NULL,
	[uid] [varchar](200) NULL,
	[MobileOperator] [varchar](10) NULL,
	[program_id] [int] NULL,
	[LastUpdate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentGroup]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentGroup](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[pno] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[gid] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[gid] [int] IDENTITY(1,1) NOT NULL,
	[gname] [varchar](200) NULL,
	[program_id] [int] NULL,
	[uid] [varchar](50) NULL,
	[manager_pno] [varchar](80) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[pno] [varchar](10) NULL,
	[date] [datetime] NULL,
	[action] [varchar](50) NULL,
	[ip_address] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentLocation]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentLocation](
	[LocationCode] [char](3) NULL,
	[LocationName] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IncidentMaster]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidentMaster](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[Incident] [int] NULL,
	[Location] [varchar](5) NULL,
	[IncidentDate] [datetime] NULL,
	[ReportBy] [varchar](50) NULL,
	[ReportDate] [datetime] NULL,
	[Detail] [text] NULL,
	[ClosedBy] [varchar](10) NULL,
	[ClosedDate] [datetime] NULL,
	[ResolutionDetail] [text] NULL,
	[status] [varchar](1) NULL,
	[workLog] [text] NULL,
	[ServiceRequestID] [int] NULL,
	[program_id] [int] NULL,
	[inctype] [varchar](15) NULL,
	[gid] [int] NULL,
	[LastUpdate] [datetime] NULL,
 CONSTRAINT [PK_IncidentMaster] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[Location_ID] [varchar](50) NULL,
	[Location_Description] [varchar](200) NULL,
	[Program_id] [int] NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_Attempts]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Attempts](
	[attempt_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[attempt_time] [datetime] NULL,
	[ip_address] [varchar](50) NULL,
	[user_agent] [varchar](255) NULL,
	[was_successful] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[attempt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login_Logs]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login_Logs](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[agent_uid] [varchar](200) NULL,
	[login_method] [varchar](20) NULL,
	[login_time] [datetime] NULL,
	[ip_address] [varchar](50) NULL,
	[user_agent] [varchar](255) NULL,
	[was_successful] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OTP_Verifications]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTP_Verifications](
	[otp_id] [int] IDENTITY(1,1) NOT NULL,
	[agent_uid] [varchar](200) NOT NULL,
	[otp_code] [varchar](10) NOT NULL,
	[is_used] [bit] NULL,
	[created_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
	[purpose] [varchar](20) NULL,
	[sent_to_email] [varchar](100) NULL,
	[ip_address] [varchar](50) NULL,
	[attempt_source] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Program_Setup]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program_Setup](
	[Program_ID] [int] IDENTITY(1,1) NOT NULL,
	[Program_Name] [varchar](50) NULL,
	[uid] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration_Requests]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration_Requests](
	[reg_id] [int] IDENTITY(1,1) NOT NULL,
	[pno] [varchar](50) NOT NULL,
	[mobile_confirmed] [bit] NULL,
	[email_sent] [bit] NULL,
	[otp_verified] [bit] NULL,
	[created_at] [datetime] NULL,
	[expires_at] [datetime] NULL,
	[ip_address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[reg_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Master]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Master](
	[RequestID] [int] IDENTITY(1000000,1) NOT NULL,
	[RequestDate] [datetime] NULL,
	[RequestLogBy] [varchar](10) NULL,
	[RequestFor] [varchar](10) NULL,
	[Priority] [int] NULL,
	[parea] [varchar](100) NULL,
	[status] [varchar](1) NULL,
	[ReqSummary] [varchar](200) NULL,
	[RequestedIPAddress] [varchar](100) NULL,
	[ReqDetails] [text] NULL,
	[ForwardedDate] [datetime] NULL,
	[Forward_To] [varchar](10) NULL,
	[ForwardedRemarks] [varchar](250) NULL,
	[ReqCloseDate] [datetime] NULL,
	[ReqCloseBy] [varchar](10) NULL,
	[Forward_By] [varchar](10) NULL,
	[Forward_To_Type] [varchar](1) NULL,
	[ownership] [varchar](10) NULL,
	[uid] [varchar](50) NULL,
	[Location] [varchar](20) NULL,
	[ActualPArea] [varchar](100) NULL,
	[ReqResolveDate] [datetime] NULL,
	[ReqResolveBy] [varchar](10) NULL,
	[program_id] [int] NULL,
	[InitialRequest] [text] NULL,
	[UnsatisfactoryClosed] [varchar](1) NULL,
	[LogPortal] [varchar](20) NULL,
 CONSTRAINT [PK_Request_Master] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 24/07/2025 12:51:48 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Role_Name] [varchar](100) NULL,
	[Privilege] [varchar](200) NULL,
	[program_id] [int] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account_Lockouts] ADD  DEFAULT (getdate()) FOR [locked_at]
GO
ALTER TABLE [dbo].[Login_Attempts] ADD  DEFAULT (getdate()) FOR [attempt_time]
GO
ALTER TABLE [dbo].[Login_Logs] ADD  DEFAULT (getdate()) FOR [login_time]
GO
ALTER TABLE [dbo].[OTP_Verifications] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[OTP_Verifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Registration_Requests] ADD  DEFAULT ((0)) FOR [mobile_confirmed]
GO
ALTER TABLE [dbo].[Registration_Requests] ADD  DEFAULT ((0)) FOR [email_sent]
GO
ALTER TABLE [dbo].[Registration_Requests] ADD  DEFAULT ((0)) FOR [otp_verified]
GO
ALTER TABLE [dbo].[Registration_Requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
USE [master]
GO

select * from program_setup

select * from Locations

INSERT INTO [dbo].[Agent] (pno, Name, create_dt, close_dt, status, Close_Remarks, isAdministrator, LastLogin_DateTime, LastLogin_IP, email, mobile, workarea, gid, Privilege, roleid, UserType, uid, MobileOperator, program_id, LastUpdate)
VALUES 
('P61355', 'NABEEL AHMED', '2020-06-30 14:56:07.130', NULL, 'C', NULL, 'N', '2020-06-30 16:13:48.987', '172.26.11.101', 'nabeel.ahmad@piac.aero', '03232320095', '', 46, '', 2, 'G', '796F8FE7-DE03-4E29-A1A4-AD3B78D0DD20', 'Ufone', 1, '2020-06-30 16:42:51.647');

INSERT INTO [dbo].[Agent] 
VALUES 
('P1586', 'Rashid Jamil', '2020-07-28 11:16:52.403', NULL, 'C', NULL, 'N', '2020-09-18 09:43:41.607', '172.16.14.3', 'Rashid.Jamil@piac.aero', '03343777789', '25,6,5', 27, '', 2, 'G', '275BB14D-62F0-49F1-8B75-45AF3F9BE90A', 'Ufone', 1, '2020-09-18 09:43:44.580');

INSERT INTO [dbo].[Agent] 
VALUES 
('P00983', 'Rana Hasan', '2020-10-28 16:41:15.307', NULL, 'C', NULL, 'N', '2020-12-09 14:52:45.353', '172.21.20.156', 'Rana.Hasan@piac.aero', '03122353779', '4', 3, '', 2, 'G', 'B34A14B2-F53C-41B4-B184-FE83D68DF315', '', 1, '2020-12-09 14:52:53.580');










