
@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/Dashboard_Layout.cshtml";
}

<h2>@ViewBag.ScreenTitle</h2>

<p>This page will manage departments. Add, edit, or delete departments from here.</p>